.nav-toggle-icon {
    display: none;
    height: 35px;
    width: 35px;
}

.nav-links-res {
    display: none;
    align-items: end;
    flex-direction: column;
    height: auto;
    z-index: 1000;
    position: relative;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0px 5px;
}


@media (max-width:430px) {
    .nav-toggle-icon {
        display: block;
    }

}